#content.memberpage {
    .organisations {
        margin-bottom: 0;
    }

    .alpha {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;

        .alphachar {
            background: #00a6c9;
            color: #fff;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 10px 10px;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background: #00568f;
            }

            &.activechar {
                background: #de002b;
            }

            &#alpha0 {
                width: 60px;
            }
        }
    }

    &.full-member {
        .countryname {
            display: none;

            &.showcountry {
                display: unset;
            }
        }

        .aorganisation {
            display: none;

            &.showcountry {
                display: unset;
            }
        }
    }

    &.associate-member {
        padding-bottom: 600px;

        .organisations {
            position: relative;

            .aorganisation {
                display: none;
                position: unset;

                .descbox {
                    position: absolute;
                    left: 0;
                    margin-left: 0;
                    width: calc(100% - 40px);
                }

                &.show_descbox {
                    border-radius: 20px 20px 0 0;
                    padding-bottom: 40px;
                }

                &.showchar {
                    display: unset;
                }
            }
        }
    }
}