#content.memberpage {
    .organisations {
        margin-bottom: 0;
    }

    .alpha {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;

        .alphachar {
            background: #00a6c9;
            color: #fff;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 10px 10px;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background: #00568f;
            }

            &.activechar {
                background: #de002b;
            }

            &#alpha0 {
                width: 60px;
            }
        }
    }

    &.full-member {
        .countryname {
            display: none;

            &.showcountry {
                display: unset;
            }
        }

        .aorganisation {
            display: none;

            &.showcountry {
                display: unset;
            }
        }
    }

    &.associate-member {
        padding-bottom: 600px;

        .organisations {
            position: relative;

            .aorganisation {
                display: none;
                position: unset;

                .descbox {
                    position: absolute;
                    left: 0;
                    margin-left: 0;
                    width: calc(100% - 40px);
                }

                &.show_descbox {
                    border-radius: 20px 20px 0 0;
                    padding-bottom: 40px;
                }

                &.showchar {
                    display: unset;
                }
            }
        }
    }

    &.asian-member {
        padding-bottom: 600px;

        .organisations {
            position: relative;

            .aorganisation {
                display: none;
                position: unset;

                .descbox {
                    position: absolute;
                    left: 0;
                    margin-left: 0;
                    width: calc(100% - 40px);
                }

                &.show_descbox {
                    border-radius: 20px 20px 0 0;
                    padding-bottom: 40px;
                }

                &.showchar {
                    display: unset;
                }
            }
        }
    }

    &.member-benefits {
        .memberbenefitflextable {
            display: flex;
            flex-wrap: wrap;
            //border-style: solid;
            //border-color: #808285;
            //border-width: 1px 1px 0 1px;

            p {
                padding: 10px 15px;
                margin: 0;
                font-size: 16px;
                line-height: 24px;

                @media (max-width: 550px) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .wide100 {
                width: 100%;
                background: #231f20;
                color: #fff;
            }
            .wide50 {
                width: 50%;

                &.second {
                    background: #f2f2f2;
                }
            }

            .widethirds {
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-end;
                flex-grow: 1;
                height: 100%;

                @media (max-width: 550px) {
                    p {
                        font-size: 10px;
                        line-height: 14px;
                    }
                }

                div {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .header {
                background: #de002b;
                color: #fff;

                .fullbenefits,
                .rappbenefits,
                .assocbenefits {
                    background: #de002b;
                }

                p {
                    text-align: center;
                    font-weight: 700;
                }
            }

            .fullbenefits,
            .rappbenefits,
            .assocbenefits {
                display: flex;
                justify-content: center;
                width: 33%;

                i {
                    color: #231f20;
                }
            }
        }
    }
}